/* Index Page CSS
May 24, 2021 */

html {
    background: #cc9900;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

table, th, td {
    border: 3px solid black;
    border-spacing: 5px;
    padding: 15px;
}
